* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: url('../assets/05.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  line-height: 30px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top: 1rem;
  font-size: 5rem;
  color: rgba(0, 0, 0, 1);

  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white; /* Create the white outline effect */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    align-items: flex-start;
  }
}
/* Large devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/05.jpg'), url('../assets/10.jpg'),
      url('../assets/11.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 33.8333% auto; /* Each image takes 33.3% of the width */

    background-position: 0 0, 49.33% 0, 100% 0; /* Position each image next to each other */
  }

  h1 {
    font-size: 9rem;
    margin-top: 0;
  }
  img {
    width: 100%;
    height: 100%;
  }
  img + img {
    display: none;
  }
  .last {
    display: none;
  }
}
