* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: url('../assets/05.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  /* line-height: 30px; */
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);

  text-shadow: -0.5px -0.5px 0 #9a9999, 0.5px -0.5px 0 #9a9999,
    -0.5px 0.5px 0 #9a9999, 1px 1px 0 #9a9999; /* Create the white outline effect */
}

/* Large devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/60.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Each image takes 33.3% of the width */
    background-position: center; /* Position each image next to each other */
  }

  h1 {
    font-size: 3rem;
    text-shadow: -0.5px -0.5px 0 #c2c1c1, 0.5px -0.5px 0 #c2c1c1,
      -0.5px 0.5px 0 #c2c1c1, 1px 1px 0 #c2c1c1; /* Create the white outline effect */
  }
  img {
    width: 100%;
    height: 100%;
  }
  img + img {
    display: none;
  }
  .last {
    display: none;
  }
}
